

<!-- app/views/categories/create.html.erb -->

<div class="mt-8">
  <h2 class="text-2xl font-bold text-gray-800">Create New Category</h2>

  <%= form_for(@category, html: { class: "mt-4" }) do |f| %>
    <%# Category Name Field %>
    <div class="mt-4">
      <%= f.label :name, class: "block font-semibold text-gray-800" %>
      <%= f.text_field :name, class: "form-input mt-1 block w-full" %>
    </div>

    <%# Other Category Fields %>
  

    <div class="mt-4">
      <%= f.submit 'Create Category', class: "bg-blue-500 text-white font-bold px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-300" %>
    </div>
  <% end %>

  <%= link_to 'Back', categories_path, class: "mt-4 bg-gray-500 text-white font-bold px-4 py-2 rounded hover:bg-gray-600 transition-colors duration-300" %>
</div>
